
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
.vscode/

*.apk
*.aab
*.ipa
*.appx
*.msix
*.keystore

*.nupkg
packages/

*.log
*.tmp
[Tt]humbs.db
.DS_Store
